.jumbotron {
	background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/05/05/42/9159662e8716a29.jpg');
	/* background-blend-mode: lighten; */
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 900;
	color: #000000;
}

.jumbotron p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}